<p class="text-center">Feel free to contact me on :</p>
<div class="contact-icons d-flex flex-wrap justify-content-center gap-3 mt-3">
  <a href="mailto:mayssaejebali@gmail.com" target="_blank" aria-label="Email">
    <i class="fas fa-envelope fa-2x me-2"></i>mayssaejebali&#64;gmail.com
  </a>
  <a href="https://www.linkedin.com/in/mayssajebali" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin fa-2x me-2"></i>mayssajebali
  </a>
  <a href="https://github.com/mayssajebali" target="_blank" aria-label="GitHub">
    <i class="fab fa-github fa-2x me-1 "></i> mayssajebali
  </a>
</div>
