<div class="container my-5 position-relative">
    <div class="about_me_container mx-auto p-4">     
      <h3 class="text-center">About me</h3>
      <p class="text-center">
        I am a passionate developer specializing in web and mobile development. My journey in tech has been an exciting exploration of modern frameworks and tools, including Angular, Spring Boot, Falsk and Node.js while focusing on creating efficient and user-friendly applications. What truly inspires me is the art of merging creativity and problem-solving to build innovative solutions that make a difference.
      </p>
    </div>
</div>
 <h3 class="text-center">Skills</h3>
<div class="skills-container row"> 
    <div class="skill-section col-md-6">
        <h5><i class="fa-solid fa-desktop"></i> Web Development</h5>
        <ul>
            <li>Angular - ReactJS - NodeJS - Flask </li>
            <li>Spring Boot - MongoDB - Symfony</li>
            <li>Python - JavaScript - PHP</li>
            <li>Oracle - MySQL</li>
        </ul>
    </div>
    
    <div class="skill-section ms-4 col-md-5">
        <h5><i class="fa-solid fa-mobile-screen-button"></i> Mobile Development</h5>
        <ul>
            <li>Flutter - Java</li>
        </ul>
         <h5><i class="fa-solid fa-palette"></i> UI/UX Design</h5>
        <ul>
            <li>Figma</li>
        </ul>
    </div>

</div>
