<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-start mb-md-0">
            <h1>Hi I'm Mayssa Jebali <br> FullStack Developer</h1>
            <p>I am a lifelong learner, always on the lookout for<br> opportunities to expand my skill set and discover<br> new approaches to solve complex challenges. </p>
            <button class="btn btn-primary mt-1" (click)="downloadCV()">Download CV</button>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets\coding.webp" alt="profile image">
        </div>
    </div>
</div>
