<div class="header_container d-block mx-auto position-relative" style="z-index: 10;">
    <nav class="navbar navbar-expand-lg mt-2 w-100 position-relative">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item me-5">
                    <a class="nav-link" href="#welcome"><span>Home</span></a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="#aboutme"><span>About me</span></a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="#projects"><span>Projects</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><span>Contact</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
