<div class="container">
    <app-header></app-header>
    <div class="project-container ">
        <div class="d-flex justify-content-center">
            <h1>Unitracker</h1>
        </div>
        <p>A task management application that enables teachers to create, assign, and track student tasks, 
            while students can view and create their own personalized tasks.</p>
        <div class="text-center text-md-start mb-3">
            <a href="https://github.com/mayssajebali/Unitracker_project" target="_blank" style="z-index: 1000; position: relative;">Explore on GitHub</a>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <video src="assets/unitrackerDemo.mp4" class="img-fluid" style="max-width: 100%;" muted onloadedmetadata="this.playbackRate=2" controls></video>
    </div>
</div>  