<div class="container">
    <app-header></app-header>
    <div class="project-container mt-3">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center text-center text-md-start">
            <h1 class="me-3">MedPlus</h1>
            <img src="assets\logoMedPlus.png" class="img-fluid" width="70" height="70">
        </div>
        <p>Web application for managing a medical office, allowing doctors and secretaries to efficiently handle
             patient data while offering patients an easy and streamlined appointment scheduling process. 
             It also includes a real-time messaging system to enable direct and secure communication between doctors 
             and patients. Designed to optimize workflows and enhance patient satisfaction, ensuring every interaction 
             is simple, fast, and secure.</p>
        <div class="text-center text-md-start mb-3">
            <a href="https://github.com/mayssajebali/Projet_MedPlus_v2" target="_blank">Explore on GitHub</a>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <video src="assets/demoMedPlus.mp4" class="img-fluid" style="max-width: 100%;" muted controls></video>
        </div>
    </div>

</div>